# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/all/modules/custom/social_links/social_links.module

sites/all/modules/custom/social_links/social_links.api.php

sites/all/modules/custom/social_links/social_links.providers.js

sites/all/modules/custom/social_links/social_links.js

sites/all/modules/custom/social_links/README.txt

sites/all/modules/custom/social_links/LICENSE.txt
